html, body {
  font-family:sans-serif;
  color:black;
  margin:0px;
}

header {
  width:100%;
  height:300px;
  position:relative;
  padding:15px;
  color:blanchedalmond;
  overflow:hidden;
}

.name {
  font-weight:bold;
  padding:15px;
}

#bgvideo {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(video/stock_flowers.jpg) no-repeat;
  background-size: cover; 
  filter: blur(7px);
  -webkit-filter: blur(7px);
  opacity:0.5;
}